<footer>
  <div class="logo-container">
    <img src="/assets/logo-white.svg" alt="Candidate Report Logo">
    <h2>Candidate Report</h2>
  </div>
  <div class="links-container">
    <div class="links">
      <h2>Links</h2>
      <ul>
        <li>
          <a [routerLink]="['']">Home</a>
        </li>
        <li>
          <a [routerLink]="['terms']">Terms</a>
        </li>
        <li>
          <a href="mailto:candidate-report-support@devintent.com">Support</a>
        </li>
      </ul>
    </div>
<!--  <div class="social">-->
<!--    <h2>Social</h2>-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="https://twitter.com/x" rel="noopener" target="_blank">Twitter</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="https://www.facebook.com/x" rel="noopener"-->
<!--           target="_blank">Facebook</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
  </div>
  <div class="copyright-privacy mat-caption">
    <span>&copy; DevIntent 2019. All Rights Reserved.&nbsp;</span>
    <span><a [routerLink]="['privacy']" routerLinkActive="active">Privacy Policy</a></span>
  </div>
</footer>
