.gcloudignore
.git
.gitignore
node_modules/
.nvmrc
database.rules.json
.editorconfig
/src
.firebase
.firebaserc
firebase.json
.idea/
e2e/
public/
prerender.ts
static-routes.ts
tsconfig.json
tslint.json
functions/lib/
functions/src/
!dist/
!functions/lib
